{% extends 'core/base.html' %}

{% block content %}
from os import path
from pathlib import Path

<div class="mt-5">
    <h1>Hey There Kenya Farmers Association</h1>

    <h1 style="color:black;text-align:center;"><b>SERVICES OFFERED</b></h1>
    <br>
    
          
    <h2><b>Welcome</b></h2>
     <p> Farmers are the heart of Unganisha's operation .The founders of Unganisha made it with an aim of esuring fresh produce from farmers gets to consumers in its right state and at the correct price<br>
      Due to the current structure which leaves farmers with losses due to middlemen , Unganisha was created to give farmers full control of their hardwork<br>
      and to ensure they get profit . Consumers have also been getting products from unknown suppliers who cannot e trusted , Unganish helps to ensure the <br>
      source is known and can be trusted.
    </p>
    <br>
    <p>Kenya Farmers Association offers several services to its members:<br>
    <strong>.Sell of farm inputs at affordable prices</strong><br>
    <strong>.Marketing farmers produce</strong><br>
    <strong>.Linking consumers to fresh agricultural produce </strong><br>
    <strong>.Sell of good quality farm equipment</strong><br>
    <strong>.Educating members on latest agricultural trends</strong><br>
    
    
    
    </p>
    
        
    
    <br>
    <br>
        
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
          <img src="/static/Farmers_Training.jpg" alt="Cinque Terre" width="555" height="368">
        </a>
        <div class="desc"><strong> Farmers Training and sensitization sessions</strong> </div>
      </div>
    </div>
    
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="/static/Agro_shop.jpg" alt="Forest" width="555" height="368">
        </a>
        <div class="desc"><strong> The association sells agriculture products to farmers at friendly prices</strong> </div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
          <img src="/static/meeting.jpg" alt="Northern Lights" width="555" height="368">
        </a>
        <div class="desc"><strong> Members of the Kenya Farmers Association hold meetings annually.</strong> </div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="/static/mentoring.jpg" alt="Mountains" width="555" height="368">
        </a>
        <div class="desc"><strong>Kenya Farmers Association offers mentoring programmes for farmers to enlighten and inmpart knowledge.</strong> </div>
      </div>
    </div>
    
    <div class="clearfix"></div>
</div>
<div class="row">
  <div class="col-sm-4">    <div class="container">
    <h2>Our Team</h2>
    <p>Kenya Farmers Associatiion has several people leading it</p>
    <div class="card" style="width:400px">
      
      <img class="card-img-top" src="/static/Kikenyi.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Mark Kikenyi</h4>
        <p class="card-text">Managing Director and System Engineer</p>
        <a href="#" class="btn btn-primary stretched-link">See Profile</a>
      </div>
    </div>
    
  </div></div>
  <div class="col-sm-4">  <div class="container">
  
    <div class="card" style="width:400px">
      <img class="card-img-top" src="/static/meeting.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">King</h4>
        <p class="card-text">Sales Executive</p>
        <a href="#" class="btn btn-primary stretched-link">See Profile</a>
      </div>
    </div>
  </div></div>

  <div class="col-sm-4">  <div class="container">
  
    <div class="card" style="width:400px">
      <img class="card-img-top" src="/static/mark.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">King</h4>
        <p class="card-text">Sales Executive</p>
        <a href="#" class="btn btn-primary stretched-link">See Profile</a>
      </div>
    </div>
  </div></div>
</div>
{% endblock content %}